@model Christophilus.Models.JournalEntry

@{
    ViewBag.Title = "Edit " + Model.Day;
}

@section head {
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js" type="text/javascript"></script>
  <script src="@Href("~/Scripts/edit-entry.js")" type="text/javascript"></script>
}

<h2 class="editing-title">@Model.Day</h2>
<div id="main-navigation">
  <a href="#" id="status">Saved</a> 
  <a href="@Url.Action("Index")"><img src="@Href("~/Content/img/list.png")" alt="List" /></a>
  <a href="#" id="user-options">@ViewBag.UserEmail</a>
  <a id="logout-link" href="@Url.Action("Logout", "Authentication")">Logout</a>
</div>
<div contenteditable="true" id="editable-entry" version="@Model.Version" save-action="@Url.Action("Update", "Entries", new { day = Model.Day })" day="@Model.Day" class="entry-body">@(new MvcHtmlString(Model.Body))</div>
