@model Christophilus.Models.JournalEntry

@{
    ViewBag.Title = "Edit " + Model.Day;
}

@DefineBlock("head").As(@<text>
    @MvcHtmlString.Create(Bundle.JavaScript()
        .Add("~/Scripts/Editor.js")
        .Add("~/Scripts/RemoteSaver.js")
        .Add("~/Scripts/LocalSaver.js")
        .Add("~/Scripts/SaverSync.js")
        .Render("~/Scripts/edit_#.js"))
</text>)

@DefineBlock("navigation").As(@<text>
    <a href="#" id="status">Saved</a> 
    <a href="@Url.Action("Index")" title="List"><img src="@Href("~/Content/img/list.png")" alt="List" /></a>
</text>)

<h1 class="editing-title">@Model.Day</h1>
<textarea rows="10" cols="10" id="editable-entry" version="@Model.Version" save-action="@Url.Action("Update", "Entries", new { day = Model.Day })" day="@Model.Day" class="entry-body autosize">@(new MvcHtmlString(Model.Body))</textarea>