@model Christophilus.Models.PaginatedCollection<Christophilus.Models.JournalEntry>

@{
    ViewBag.Title = "Past Entries";
}

<ul class="entries">
  @{
    var prevMoth = DateTime.MinValue;
  }

  @foreach (var entry in @Model.Values)
  {
    var date = DateTime.Parse(entry.Day);
    if (prevMoth.Month != date.Month || prevMoth.Year != date.Year)
    {
      prevMoth = date;
      <li class="month">@date.ToString("yyyy, MMM")</li>
    }
    <li><a href="@Url.Action("Show", new { day = entry.Day })"><span class="day">@date.Day.Th()</span><span class="summary">@(new MvcHtmlString(entry.Summary))</span></a></li>
  }
</ul>

@if (@Model.ShowPagination)
{
  <ul class="pages">
    @if (@Model.HasPreviousPages)
    {
      <li><a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })">Prev</a></li>
    }
  
    @for (int pg = Model.FirstPageDisplay; pg <= Model.LastPageDisplay; ++pg)
    {
      <li class="@(pg == Model.CurrentPage ? "selected" : string.Empty)"><a href="@Url.Action("Index", new { page = pg })">@(pg + 1)</a></li>
    }

    @if (@Model.HasMorePages)
    {
      <li><a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })">Next</a></li>
    }
  </ul>
}