<!DOCTYPE html>
<html>
<head>
    <title>Christophil.us</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js" type="text/javascript"></script>

    @MvcHtmlString.Create(Bundle.Css()
        .Add("~/Content/site.less")
        .Render("~/Content/site_#.less"))

    @MvcHtmlString.Create(Bundle.JavaScript()
        .Add("~/Scripts/mustache.js")
        .Add("~/Scripts/icanhas.js")
        .Add("~/Scripts/toph.error.js")
        .Add("~/Scripts/nav.js")
        .Add("~/Scripts/textarea.autosize.js")
        .Render("~/Scripts/global_#.js"))

    @RenderBlock("head")
</head>
<body class="@(ViewBag.BodyClass ?? "default")">
    @RenderBlock("navigation").IfDefined(@<div id="main-navigation">
        @RenderBlock("navigation")
        <a href="#" id="user-options">@ViewBag.UserEmail</a>
        <a id="logout-link" href="@Url.Action("Logout", "Authentication")">Logout</a>
    </div>)

    @RenderBlock("main").IfDefined(@<text>@RenderBody()</text>).Else(@<div id="page-wrapper">@RenderBody()</div>)
</body>
</html>