<!DOCTYPE html>
<html>
<head>
    <title>Christophil.us</title>
    <link href="@Url.Content("~/Content/site.less")" rel="stylesheet" type="text/css" />
    @RenderBlock("head")
</head>
<body class="@(ViewBag.BodyClass ?? "default")">
    @RenderBlock("navigation")
    @RenderBlock("main").IfDefined(@<text>@RenderBody()</text>).Else(@<div id="page-wrapper">@RenderBody()</div>)
</body>
</html>